.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin: -27px 52px;
}
#first-section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    column-gap: 35px;
    margin: 118px 0px;
}